# This is the bare minimum needed to run the test suite. Why not just use
# `test_requirements.txt`? Well it pulls in stuff we don't need and that
# slows the down testing phase quite a bit.
pytest >= 6.1.1
